BOT_TOKEN= your bot token from teligrame botfather
GROQ_API_KEY =groq api key 
GROQ_API_SECRATE = groq api secrate
OPENWEATHERMAP_API_KEY=if you want you can add wather api for made a tol to get wather